@model Road.Core.Models.Faq
<h4 class="card-label">
    آیا مطمئن هستید که می خواهید این سوال را حذف کنید؟
</h4>
<dl class="row" style="padding-top:10px">
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Question)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Question)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Answer)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Answer)
    </dd>
</dl>
<div style="float:left">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="حذف" class="btn btn-danger mr-2" />
    }
</div>
