@model List<Road.Web.ViewModels.ArticleListViewModel>
@{
    ViewBag.Title = "جستحوی مطلب";
    Layout = "/Views/Shared/_BlogLayout.cshtml";
}
@if (Model.Any())
{
    <div id="inner-content" class="inner-content-wrap">
        @foreach (var item in Model)
        {
            <article class="hentry data-effect">
                <div class="post-media has-effect-icon offset-v-25 offset-h-24 data-effect-item clerafix">
                    <a href="/Blog/Post/@item.Id/@item.Title.Replace(" ","-")"><img src="~/Files/ArticleImages/Image/@item.Image" alt="@item.Title"></a>
                    <div class="post-calendar">
                        <span class="inner">
                            <span class="entry-calendar">
                                <span class="day">@item.AddedDay</span>
                                <span class="month">@item.AddedMonth</span>
                            </span>
                        </span>
                    </div>
                    <div class="overlay-effect bg-color-1"></div>
                    <div class="elm-link">
                        <a href="/Blog/Post/@item.Id/@item.Title.Replace(" ","-")" class="icon-1"></a>
                    </div>
                </div><!-- /.post-media -->

                <div class="post-content-wrap clearfix">
                    <h2 class="post-title">
                        <span class="post-title-inner">
                            <a href="/Blog/Post/@item.Id/@item.Title.Replace(" ","-")">@item.Title</a>
                        </span>
                    </h2><!-- /.post-title -->
                    <div class="post-meta">
                        <div class="post-meta-content">
                            <div class="post-meta-content-inner">
                                <span class="post-date item"><span class="inner"><span class="entry-date">@item.AddedMonth @item.AddedDay, @item.AddedYear</span></span></span>
                                <span class="post-by-author item"><span class="inner">توسط: @item.Author</span></span>
                                <span class="comment item"><span class="inner">@item.CommentCount نظر</span></span>
                            </div>
                        </div>
                    </div><!-- /.post-meta -->
                    <div class="post-content post-excerpt">
                        <p>@item.ShortDescription</p>
                    </div><!-- /.post-excerpt -->
                    <div class="post-read-more">
                        <div class="post-link">
                            <a href="/Blog/Post/@item.Id/@item.Title.Replace(" ","-")">ادامه مطلب</a>
                        </div>
                    </div>
                </div><!-- /.post-content-wrap -->
            </article>
        }
        <div class="themesflat-pagination clearfix">
            <ul>
                @{
                    var searchParameter = string.IsNullOrEmpty(ViewBag.SearchString) ? "/Blog?pageNumber=" : $"/Blog?searchString={ViewBag.SearchString}&pageNumber=";
                    if (ViewBag.CurrentPage > 1)
                    {
                        <li><a href="@searchParameter@(ViewBag.CurrentPage-1)" class="page-numbers prev"><span class="fa fa-angle-left"></span></a></li>
                    }
                    for (int i = 1; i <= ViewBag.PageCount; i++)
                    {
                        <li><a href="@searchParameter@(i)" class="page-numbers @(i == ViewBag.CurrentPage ? "current" : "")">@i</a></li>
                    }
                    if (ViewBag.CurrentPage < ViewBag.PageCount)
                    {
                        <li><a href="@searchParameter@(ViewBag.CurrentPage+1)" class="page-numbers next"><span class="fa fa-angle-right"></span></a></li>
                    }
                }
            </ul>
        </div>
    </div>
}
else
{
    <h2>مطلبی پیدا نشد</h2>
}

