@model Road.Core.Models.Gallery
<h4 class="card-label">
    آیا مطمئن هستید که می خواهید این تصویر را حذف کنید؟
</h4>
<dl class="row" style="padding-top:10px">
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Title)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Title)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Image)
    </dt>
    <dd class="col-sm-8">
        <img src="~/Files/GalleryImages/@Model.Image" style="height: 50px" alt="@Model.Title" />
    </dd>
</dl>
<div style="float:left">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="حذف" class="btn btn-danger mr-2" />
    }
</div>
