<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>فرادید کرمان | @ViewBag.Title</title>

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="/Content/client/style.css">

    <!-- Colors -->
    <link rel="stylesheet" type="text/css" href="/Content/client/assets/css/colors/color1.css" id="colors">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="/Content/client/assets/icon/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/Content/client/assets/icon/apple-touch-icon-158-precomposed.png">

    <!--[if lt IE 9]>
        <script src="javascript/html5shiv.js"></script>
        <script src="javascript/respond.min.js"></script>
    <![endif]-->

</head>

<body class="header-fixed page no-sidebar header-style-3 topbar-style-3 site-header-absolute menu-has-search">

    <div id="wrapper" class="animsition">
        <div id="page" class="clearfix">
            <!-- Header Wrap -->
            <div id="site-header-wrap">
                <!-- Top Bar -->
                @Html.Action("Header")
                <!-- /#top-bar -->
                <!-- Header -->
                <header id="site-header">
                    <div id="site-header-inner" class="container">
                        <div class="wrap-inner clearfix">
                            <div id="site-logo" class="clearfix">
                                <div id="site-log-inner">
                                    <a href="index.html" rel="home" class="main-logo">
                                        <img src="/Content/client/assets/img/logo-white-home.png" alt="Autora" width="169" height="39" data-retina="/Content/client/assets/img/logo-white-small@2x.png" data-width="169" data-height="39">
                                    </a>
                                </div>
                            </div><!-- /#site-logo -->

                            <div class="mobile-button">
                                <span></span>
                            </div><!-- /.mobile-button -->

                            <nav id="main-nav" class="main-nav">
                                <ul id="menu-primary-menu" class="menu">
                                    <li class="menu-item menu-item-has-children current-menu-item">
                                        <a href="index.html">صفحه اصلی</a>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="page-about.html">درباره ما </a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="page-about.html">درباره ما</a></li>
                                            <li class="menu-item"><a href="page-about-detail.html">جزئیات درباره</a></li>
                                            <li class="menu-item"><a href="page-about-team.html">درباره تیم</a></li>
                                            <li class="menu-item"><a href="page-about-careers.html">درباره کارگزاران</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="page-projects.html">پروژه ها</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="page-projects.html">پروژه</a></li>
                                            <li class="menu-item"><a href="page-projects-full.html">پروژه عرض کامل</a></li>
                                            <li class="menu-item"><a href="page-project-detail.html">جزئیات پروژه</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="page-testimonial.html">صفحات</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="page-testimonial.html">صفحه گواهی نامه</a></li>
                                            <li class="menu-item"><a href="page-pricing.html">صفحه جدول قیمت</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="page-blog.html">بلاگ</a>
                                        <ul class="sub-menu right-sub-menu">
                                            <li class="menu-item"><a href="page-blog.html">بلاگ</a></li>
                                            <li class="menu-item"><a href="page-blog-single.html">بلاگ تک نوشته</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="page-contact-2.html">تماس با ما</a>
                                    </li>
                                </ul>
                            </nav><!-- /#main-nav -->


                        </div><!-- /.wrap-inner -->
                    </div><!-- /#site-header-inner -->
                </header><!-- /#site-header -->
            </div><!-- #site-header-wrap -->
            <!-- Main Content -->
            <div id="main-content" class="site-main clearfix">
                <div id="content-wrap">
                    <div id="site-content" class="site-content clearfix">
                        <div id="inner-content" class="inner-content-wrap">
                            <div class="page-content">
                                @RenderBody()
                            </div><!-- /.page-content -->
                        </div><!-- /#inner-content -->
                    </div><!-- /#site-content -->
                </div><!-- /#content-wrap -->
            </div><!-- /#main-content -->
            <!-- Footer -->
            <footer id="footer" class="clearfix">
                <div id="footer-widgets" class="container">
                    <div class="themesflat-row gutter-30">
                        <div class="col span_1_of_3">
                            <div class="widget widget_text">
                                <div class="textwidget">
                                    <p>
                                        <img src="/Content/client/assets/img/logo-white@2x.png" alt="Image" width="170" height="34">
                                    </p>

                                    <p class="margin-bottom-15">ما بیش از 15 سال تجربه داریم که می تواند پشتیبانی شما در 24/7 باشد.</p>

                                    <ul>
                                        <li>
                                            <div class="inner">
                                                <span class="fa fa-map-marker"></span>
                                                <span class="text">تهران ، ولیعصر ، روبروی پارک ملت <span class="sl"> ،برج سایه</span></span>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="inner">
                                                <span class="fa fa-phone"></span>
                                                <span class="text">تلفن ما : 02122042489</span>
                                            </div>
                                        </li>

                                        <li class="margin-top-7">
                                            <div class="inner">
                                                <span class=" font-size-14 fa fa-envelope"></span>
                                                <span class="text">info@gmail.com</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- /.widget_text -->
                            <div class="themesflat-spacer clearfix" data-desktop="0" data-mobile="0" data-smobile="35"></div>
                        </div><!-- /.col -->

                        <div class="col span_1_of_3">
                            <div class="themesflat-spacer clearfix" data-desktop="0" data-mobile="0" data-smobile="0"></div>

                            <div class="widget widget_lastest">
                                <h2 class="widget-title"><span>پست های اخیر</span></h2>
                                <ul class="lastest-posts data-effect clearfix">
                                    <li class="clearfix">
                                        <div class="thumb data-effect-item has-effect-icon">
                                            <img src="/Content/client/assets/img/news/post-1-65x65.jpg" alt="Image">
                                            <div class="overlay-effect bg-color-2"></div>
                                            <div class="elm-link">
                                                <a href="page-blog-single.html" class="icon-2"></a>
                                            </div>
                                        </div>
                                        <div class="text">
                                            <h3><a href="page-blog-single.html">راه مطمئن با مواد اولیه  مطمئن است</a></h3>
                                            <span class="post-date"><span class="entry-date">تیر 2018</span></span>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <div class="thumb data-effect-item has-effect-icon">
                                            <img src="/Content/client/assets/img/news/post-2-65x65.jpg" alt="Image">
                                            <div class="overlay-effect bg-color-2"></div>
                                            <div class="elm-link">
                                                <a href="page-blog-single.html" class="icon-2"></a>
                                            </div>
                                        </div>
                                        <div class="text">
                                            <h3><a href="page-blog-single.html">خانه چوب بدون چسب ساخته شده است</a></h3>
                                            <span class="post-date"><span class="entry-date">تیر 2018</span></span>
                                        </div>
                                    </li>
                                </ul>
                            </div><!-- /.widget_lastest -->
                        </div><!-- /.col -->

                        <div class="col span_1_of_3">
                            <div class="themesflat-spacer clearfix" data-desktop="0" data-mobile="35" data-smobile="35"></div>

                            <div class="widget widget_tags">
                                <h2 class="widget-title margin-bottom-30"><span>برچسب ها</span></h2>
                                <div class="tags-list">
                                    <a href="#">راهسازی</a>
                                    <a href="#">خانه هوشمند</a>
                                    <a href="#">ساخت و ساز</a>
                                    <a href="#">راهسازی</a>
                                    <a href="#">مسکونی</a>
                                    <a href="#">داخلی</a>
                                    <a href="#">رفت و آمد مکرر</a>
                                    <a href="#">تجاری</a>
                                </div>
                            </div>
                        </div><!-- /.col -->

                        <div class="col span_1_of_3">
                            <div class="themesflat-spacer clearfix" data-desktop="0" data-mobile="35" data-smobile="35"></div>

                            <div class="widget widget_instagram">
                                <h2 class="widget-title margin-bottom-30"><span>عکس های اینستاگرام</span></h2>
                                <div class="instagram-wrap data-effect clearfix col3 g10">
                                    <div class="instagram_badge_image has-effect-icon">
                                        <a href="#" target="_blank" class="data-effect-item">
                                            <span class="item"><img src="/Content/client/assets/img/instagram/instagram-1-83x83.jpg" alt="Image"></span>
                                            <div class="overlay-effect bg-color-2"></div>
                                            <div class="elm-link">
                                                <span class="icon-3"></span>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="instagram_badge_image has-effect-icon">
                                        <a href="#" target="_blank" class="data-effect-item">
                                            <span class="item"><img src="/Content/client/assets/img/instagram/instagram-2-83x83.jpg" alt="Image"></span>
                                            <div class="overlay-effect bg-color-2"></div>
                                            <div class="elm-link">
                                                <span class="icon-3"></span>
                                            </div>
                                        </a>

                                    </div>

                                    <div class="instagram_badge_image has-effect-icon">
                                        <a href="#" target="_blank" class="data-effect-item">
                                            <span class="item"><img src="/Content/client/assets/img/instagram/instagram-3-83x83.jpg" alt="Image"></span>
                                            <div class="overlay-effect bg-color-2"></div>
                                            <div class="elm-link">
                                                <span class="icon-3"></span>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="instagram_badge_image has-effect-icon">
                                        <a href="#" target="_blank" class="data-effect-item">
                                            <span class="item"><img src="/Content/client/assets/img/instagram/instagram-4-83x83.jpg" alt="Image"></span>
                                            <div class="overlay-effect bg-color-2"></div>
                                            <div class="elm-link">
                                                <span class="icon-3"></span>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="instagram_badge_image has-effect-icon">
                                        <a href="#" target="_blank" class="data-effect-item">
                                            <span class="item"><img src="/Content/client/assets/img/instagram/instagram-5-83x83.jpg" alt="Image"></span>
                                            <div class="overlay-effect bg-color-2"></div>
                                            <div class="elm-link">
                                                <span class="icon-3"></span>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="instagram_badge_image has-effect-icon">
                                        <a href="#" target="_blank" class="data-effect-item">
                                            <span class="item"><img src="/Content/client/assets/img/instagram/instagram-6-83x83.jpg" alt="Image"></span>
                                            <div class="overlay-effect bg-color-2"></div>
                                            <div class="elm-link">
                                                <span class="icon-3"></span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div><!-- /.widget_instagram -->
                        </div><!-- /.col -->
                    </div><!-- /.themesflat-row -->
                </div><!-- /#footer-widgets -->
            </footer><!-- /#footer -->
            <!-- Bottom -->
            <div id="bottom" class="clearfix has-spacer">
                <div id="bottom-bar-inner" class="container">
                    <div class="bottom-bar-inner-wrap">
                        <div class="bottom-bar-content">
                            <div id="copyright">
                                ©@DateTime.Now.Year - <span class="text">طراحی شده توسط <a href="https:/spad.co" class="text-accent">اسپاد</a></span>
                            </div>
                        </div><!-- /.bottom-bar-content -->

                        <div class="bottom-bar-menu">
                            <ul class="bottom-nav">
                                <li class="menu-item current-menu-item">
                                    <a href="index.html">صفحه اصلی</a>
                                </li>
                                <li class="menu-item">
                                    <a href="page-about.html">درباره ما</a>
                                </li>
                                <li class="menu-item">
                                    <a href="page-projects.html">پروژه ها</a>
                                </li>
                                <li class="menu-item">
                                    <a href="page-testimonial.html">گواهی نامه ها</a>
                                </li>
                                <li class="menu-item ">
                                    <a href="page-blog.html">بلاگ</a>
                                </li>
                                <li class="menu-item">
                                    <a href="page-contact-2.html">فرم تماس</a>
                                </li>
                            </ul>
                        </div><!-- /.bottom-bar-menu -->
                    </div><!-- /.bottom-bar-inner-wrap -->
                </div><!-- /#bottom-bar-inner -->
            </div><!-- /#bottom -->

        </div><!-- /#page -->
    </div><!-- /#wrapper -->

    <a id="scroll-top"></a>

    <!-- Javascript -->
    <script src="/Content/client/assets/js/jquery.min.js"></script>
    <script src="/Content/client/assets/js/plugins.js"></script>
    <script src="/Content/client/assets/js/tether.min.js"></script>
    <script src="/Content/client/assets/js/bootstrap.min.js"></script>
    <script src="/Content/client/assets/js/animsition.js"></script>
    <script src="/Content/client/assets/js/owl.carousel.min.js"></script>
    <script src="/Content/client/assets/js/countto.js"></script>
    <script src="/Content/client/assets/js/equalize.min.js"></script>
    <script src="/Content/client/assets/js/jquery.isotope.min.js"></script>
    <script src="/Content/client/assets/js/owl.carousel2.thumbs.js"></script>

    <script src="/Content/client/assets/js/jquery.cookie.js"></script>
    <script src="/Content/client/assets/js/gmap3.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIEU6OT3xqCksCetQeNLIPps6-AYrhq-s&region=GB"></script>
    <script src="/Content/client/assets/js/shortcodes.js"></script>
    <script src="/Content/client/assets/js/main.js"></script>

    <!-- Revolution Slider -->
    <script src="/Content/client/includes/rev-slider/js/jquery.themepunch.tools.min.js"></script>
    <script src="/Content/client/includes/rev-slider/js/jquery.themepunch.revolution.min.js"></script>
    <script src="/Content/client/assets/js/rev-slider.js"></script>
    <!-- Load Extensions only on Local File Systems ! The following part can be removed on Server for On Demand Loading -->
    <script src="/Content/client/includes/rev-slider/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="/Content/client/includes/rev-slider/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="/Content/client/includes/rev-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="/Content/client/includes/rev-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="/Content/client/includes/rev-slider/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="/Content/client/includes/rev-slider/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="/Content/client/includes/rev-slider/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="/Content/client/includes/rev-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="/Content/client/includes/rev-slider/js/extensions/revolution.extension.video.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

