@model IEnumerable<Road.Core.Models.OurTeam>
@using Kendo.Mvc.UI
@using Road.Infrastructure.Helpers;
@{
    ViewBag.Title = "تیم ما";
}
<input type="hidden" id="nav_active" value="content_control">
<input type="hidden" id="nav_item_active" value="ourteam">
<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                @ViewBag.Title
                <span class="d-block text-muted pt-2 font-size-sm">ویرایش تیم ما</span>
            </h3>
        </div>
        <div class="card-toolbar">
            <!--begin::Button-->
            <a href="/Admin/OurTeam/Create" class="btn btn-primary font-weight-bolder">
                <span class="svg-icon svg-icon-md">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24" />
                            <circle fill="#000000" cx="9" cy="15" r="6" />
                            <path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3" />
                        </g>
                    </svg><!--end::Svg Icon-->
                </span>	رکورد جدید
            </a>
            <!--end::Button-->
        </div>
    </div>
    <div class="card-body">
        <!--begin: Datatable-->
        @(Html.Kendo().Grid(Model)
                .Name("Grid")
                .HtmlAttributes(new { style = "height:450px" })
                .Columns(columns =>
                {
                    columns.Bound(model => model.Name);
                    columns.Bound(model => model.Role);

                        columns.Bound(item => @item.Id).IncludeInMenu(false).Sortable(false).Title("دستورات").Filterable(false).Groupable(false).Template(
                    @<text>
                        <a class='btn btn-sm btn-clean btn-icon mr-2' href="/Admin/OurTeam/Edit/@item.Id"><i class='far fa-edit text-primary'></i></a>
                        <a class='btn btn-sm btn-clean btn-icon' onclick="@(CheckPermission.Check("ourteamdelete") ? $"btnDelete({item.Id})" : "accessDenied()")"><i class='far fa-trash-alt text-danger'></i></a>
                    </text>
            ).Width(300);
            })
                        .Sortable()
                        .Scrollable()
                        .Pageable(pager => pager.PageSizes(new int[] { 10, 30, 50, 70, 100 }).Messages(m => m.ItemsPerPage("آیتم در هر صفحه").Display("")))
                            .DataSource(dataSource => dataSource
                            .Server()

                            .Model(model => model.Id(item => item.Id))
                        )
                        .Filterable(filterable => filterable
                            .Messages(m => m
                                .Filter("فیلتر")
                                .Clear("حذف")
                                .Info("آن هایی را نشان بده که:")
                                .And("و")
                                .Or("یا")
                                )
                            .Operators(operators => operators
                                .ForString(str => str.Clear()
                                    .IsEqualTo("برابر است با")
                                    .IsNotEqualTo("برابر نیست با")
                                    .Contains("شامل میشود")
                                    .DoesNotContain("شامل نمیشود")
                                    .StartsWith("شروع میشود با")
                                    .IsNullOrEmpty("خالی است")
                                    .IsNotNullOrEmpty("خالی نیست")
                                )))
        )
        <!--end: Datatable-->
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" id="myModalHeader">
                <h5 class="modal-title" id="myModalLabel">Modal Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body" id="myModalBody">
                ...
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(document).ready(function () {
            $('.k-i-filter').removeClass("k-i-filter").addClass("k-icon k-i-more-vertical");
        });
    </script>
    <script>
        function btnDelete(id) {
            $.get("/Admin/OurTeam/Delete/" + id, function (result) {
                $("#myModal").modal();
                $("#myModalLabel").html("حذف");
                $("#myModalHeader");
                $("#myModalBody").html(result);
            });
        }
    </script>
}